{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_room/slot_info

    This template renders an individual slot as info block.

}}

<div class="mod-room-slot-info" data-event-title="{{name}}">
    <div class="card rounded">
        <div class="box card-header clearfix">
            {{#canedit}}
                <div class="commands float-sm-right">
                    <a href="{{{deleteurl}}}" data-action="delete">
                        {{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}
                    </a>
                    <a href="{{{editurl}}}" data-action="edit">
                        {{#pix}}t/edit, core, {{#str}}edit{{/str}}{{/pix}}
                    </a>
                </div>
            {{/canedit}}
            <div class="d-inline-block">
                <h3 class="name d-inline-block">{{displayname}}</h3>
            </div>
        </div>
        <div class="description card-body">
            <div class="row">
                <div class="col-xs-1">{{#pix}} i/calendareventtime, core, {{#str}} when, core_calendar {{/str}} {{/pix}}</div>
                <div class="col-xs-11">
                    {{userdatestart}}{{#userdateend}} <strong>&raquo;</strong> {{userdateend}}{{/userdateend}}
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xs-1">{{#pix}} i/location, core, {{#str}} location {{/str}} {{/pix}}</div>
                <div class="location-content col-xs-11">{{location}}</div>
            </div>
            {{#bookingsfree}}
            <div class="row mt-1">
                <div class="col-xs-1">{{#pix}} i/cookie, mod_room, {{#str}} freespots, mod_room {{/str}} {{/pix}}</div>
                <div class="col-xs-11">{{#str}} freespots, mod_room {{/str}}: {{bookingsfree}}</div>
            </div>
            {{/bookingsfree}}
            {{#bookedby}}
            <div class="row mt-1">
                <div class="col-xs-1">{{#pix}} i/cookie-bite, mod_room, {{#str}} bookedby, mod_room {{/str}} {{/pix}}</div>
                <div class="col-xs-11">{{bookedby}}</div>
            </div>
            {{/bookedby}}
            {{#spotbooking}}
            <div class="roomplan-spot-booking m-t-1">
                <a class="btn btn-secondary" href="{{{action}}}" data-action="{{{buttonaction}}}-button">{{message}}</a>
            </div>
            {{/spotbooking}}
        </div>
    </div>
</div>